body { 
    font-family: Roboto;
}

.wrapper {
    margin: auto;
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    height: 100%;
}

.header { 
    grid-column: 1 / 2;
    grid-row: 1;
}

.about { 
    grid-column: 1;
    grid-row: 2;
}

.about li { 
    margin: 5px;
}

.contact { 
    grid-column: 2;
    grid-row: 2;
}

.footer { 
    grid-column: 2; 
    grid-row: 3;
    text-align: right;
}